In [2]:
import pandas
import numpy as np

# 1

In [3]:
bucket = 'bailey-ia241'

In [4]:
data_key = 'house_price.xls'

In [5]:
data_location = 's3://{}/{}'.format(bucket, data_key)

print(data_location)

s3://bailey-ia241/house_price.xls

In [14]:
df = pandas.read_excel(data_location)
df.describe()

              price   bathroom      lot_size     built_in         area
count  3.000000e+01  30.000000  3.000000e+01    30.000000    30.000000
mean   3.567000e+05   2.866667  3.024873e+05  1982.766667  2495.666667
std    2.500429e+05   1.407696  1.073243e+06    25.078750  1370.128847
min    1.349000e+05   1.000000  2.178000e+03  1924.000000   900.000000
25%    1.756750e+05   2.000000  8.820750e+03  1966.250000  1465.250000
50%    3.024000e+05   2.500000  1.372150e+04  1987.000000  2069.500000
75%    4.365000e+05   4.000000  2.178000e+04  2001.750000  3148.750000
max    1.100000e+06   6.000000  4.356000e+06  2018.000000  5299.000000

# 2a

In [18]:
df['unit_price'] = df['price']/df['area']
df['unit_price']

0      100.946970
1     1222.222222
2      112.207152
3      109.190231
4      148.500000
5       85.541242
6      149.831650
7      108.967675
8       90.883117
9      432.900433
10     108.144796
11      82.817680
12      93.619048
13     117.946782
14     145.084270
15     145.432498
16     169.695457
17     146.630435
18     123.665174
19     101.864667
20     104.097222
21     150.611621
22     149.188838
23     114.951558
24     115.125392
25     130.133929
26     126.997717
27     127.812258
28     153.269025
29     136.406995
Name: unit_price, dtype: float64

# 2b

In [15]:
print('the max price is ${}'.format(np.amax(df['price'])))

the max price is $1100000

In [16]:
print('the median price is ${}'.format(np.median(df['price'])))

the median price is $302400.0

# 2c

In [17]:
print('the std of price is ${}'.format(np.std(df['price'])))

the std of price is $245840.21233313315

# 2d

In [19]:
from scipy import stats
result = stats.linregress(df['area'], df['price'])

In [22]:
print('slope is {}'.format(result.slope))
print('intercept is {}'.format(result.intercept))
print('R square is {}'.format(result.rvalue * result.rvalue))
print('P value is {}'.format(result.pvalue))

slope is 74.37646603912873
intercept is 171081.13292168107
R square is 0.1660981507478648
P value is 0.025387094399552994

# 2e

In [32]:
print ('prediction of the price of a house with an area of 2,000 sqft is {}'.format(result.slope*2000+result.intercept))

prediction of the price of a house with an area of 2,000 sqft is 319834.06499993854