# q1

In [2]:
my_name = "Grace"
print (my_name)

Grace

# q2

In [3]:
my_id = 1234567
print (my_id)

1234567

# q3

In [6]:
my_id_str = "1234567"
print (my_id_str)

1234567

# q4

Cannot perform the operation: my_name + my_id
You cannot add a String to an integer value in Python.

# q5

In [9]:
my_name + my_id_str

'Grace1234567'

# q6

In [16]:
hello_wrld = "hello, world. This is my first python string."
hello_wrld.split('.')

['hello, world', ' This is my first python string', '']

# q7

In [25]:
str_list = ['b', 'a', 'c', 'd', 'e']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

# q8

In [28]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [29]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [33]:
print (str_list[2])

c

# q11

In [34]:
num_list = [ 12, 32, 43, 35 ]
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

Adding the number list to the string list combined the lists.

# q12

In [45]:
my_dict = {
    'name': 'Grace',
    'id': my_id
}

print (my_dict)

{'name': 'Grace', 'id': 1234567}

# q13

In [49]:
my_dict['name'] = "Bailey"
print (my_dict)

{'name': 'Bailey', 'id': 1234567}

# q14

In [50]:
print (my_dict['id'])

1234567

# q15

In [51]:
my_dict['id'] = 7654321
print (my_dict['id'])

7654321

# q16

In [52]:
my_dict['num_list'] = num_list
print (my_dict)

{'name': 'Bailey', 'id': 7654321, 'num_list': [12, 32, 43, 35]}

The operation above appended the num_list to the dictionary object.

# q17

In [56]:
num_list.sort()
print ("Maximum Number: ", num_list[ len(num_list) - 1] )
print ("Minimum Number: ", num_list[ 0 ] )

Maximum Number:  43
Minimum Number:  12